@use './variables';

@mixin mq($key) {
	$size: map-get(variables.$breakpoints, $key);

	@media only screen and (min-width: $size) {
		@content;
	}
}

@mixin flex-vertical-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}
