@use '../base/mixins';

.background-decoration {
	--bg-image: url('../assets/sign-up/bg-pattern-side.svg');
	--bg-pos: center;
	--bg-size: cover;

	position: relative;

	&::after {
		--size: 32rem;
		content: '';
		position: absolute;
		inset: auto auto 0 0;
		height: var(--size);
		width: 100%;
		background-color: var(--clr-neutral-700);
		z-index: -99;

		@include mixins.background-image(var(--bg-image), var(--bg-pos), var(--bg-size));

		// media
		@include mixins.mq(medium) {
			--size: 38rem;
		}

		@include mixins.mq(large) {
			--size: 42rem;
			--bg-size: 500%;
			--bg-pos: bottom -50vh center;

			inset: 0 0 auto auto;
			width: var(--size);
			height: 100%;
		}
	}
}
