@use '../base/mixins';

.footer {
	--space-top: 76.5rem;
	--padding-block: var(--spacing-rem-900);

	// for 'intersecting' with section above
	padding-top: calc(var(--padding-block) + var(--space-top));
	margin-top: calc(-1 * var(--space-top));

	padding-bottom: var(--padding-block);

	text-align: center;
	background-color: var(--clr-neutral-700);
	color: var(--clr-white);

	// background image styles
	@include mixins.background-image(url('../assets/home/bg-pattern-footer.svg'), top 25vh center, 300%, no-repeat);

	@include mixins.mq(medium) {
		--space-top: 49rem;
		@include mixins.background-image(url('../assets/home/bg-pattern-footer.svg'), bottom -45vh center, 150%, no-repeat);
	}

	@include mixins.mq(large) {
		--space-top: 24.5rem;
		text-align: initial;

		@include mixins.background-image(url('../assets/home/bg-pattern-footer.svg'), top 45% right 2.5vw, 150%, no-repeat);
	}
}
