@use '../base/mixins';

.header {
	--margin-bottom: var(--spacing-rem-700, 6rem);
	--bg-image-url: url('../assets/home/bg-pattern-header.svg');
	--bg-image-pos: top -25vh center;
	--bg-image-size: 125%;

	margin-bottom: var(--margin-bottom);
	text-align: center;

	@include mixins.mq(medium) {
		--margin-bottom: var(--spacing-rem-900);
	}

	// --- header elements
	&__content {
		& p {
			--fz-regular: var(--fz-400, 1.6rem);
			font-size: var(--fz-regular);

			@include mixins.mq(large) {
				--fz-regular: 1.8rem;
			}
		}

		& > *:last-child {
			margin-top: var(--spacing-rem-500);
		}
	}

	&__primary-heading {
		margin-bottom: var(--spacing-rem-400);
		font-size: var(--fz-primary-heading);
	}

	&__main-image {
		--max-width: 60%;
		max-width: var(--max-width);
		margin-left: auto;
		margin-right: auto;

		@include mixins.mq(medium) {
			--max-width: 82.5%;
			margin-right: 0;
			transform: scale(1.1);
		}
	}

	// --- modifiers
	&--main {
		@include mixins.background-image(var(--bg-image-url), var(--bg-image-pos), var(--bg-image-size));

		@include mixins.mq(medium) {
			--bg-image-pos: bottom 25vh left 47.5vw;
			--bg-image-size: 75%;

			text-align: initial;
		}
	}

	&--sign-up {
		padding-bottom: var(--margin-bottom);
		margin-bottom: 0;

		@include mixins.background-image(var(--bg-image-url), var(--bg-image-pos), var(--bg-image-size));

		@include mixins.mq(small) {
			background-image: none;
		}

		@include mixins.mq(large) {
			text-align: initial;
		}
	}
}
