@use '../base/mixins';

.navigation {
	--padding-top: var(--spacing-em-400, 2em);
	--margin-bottom: var(--spacing-rem-800, 5rem);

	padding-top: var(--padding-top);
	margin-bottom: var(--margin-bottom);

	display: flex;
	justify-content: center;

	@include mixins.mq(medium) {
		--padding-top: var(--spacing-em-600);
		--margin-bottom: var(--spacing-rem-900);

		justify-content: space-between; // just in case I would like to add navbar menu
	}

	@include mixins.mq(large) {
		--padding-top: var(--spacing-em-700);
	}
}
