@use '../base/mixins';

.flex-space-between {
	--gap: var(--spacing-em-300);

	@include mixins.flex-vertical-center;
	justify-content: center;
	gap: var(--gap);

	@include mixins.mq(large) {
		flex-direction: row;
		justify-content: space-between;
	}
}
